/praktikum4/nbproject/private/
/praktikum4/build/
/posttest1/nbproject/private/
/posttest1/build/
/praktikum6/nbproject/private/
/praktikum6/build/
/praktikum7/nbproject/private/
/praktikum7/build/
/praktikum7/dist/
